body{
    background-color: hsl(0, 0%, 0%);
    color: lab(100% 0.01 -0.01);
    text-align: center;
}

h1{
    border: 1px, solid, hwb(0 100% 0%);
}

output{
    color:  hwb(0 100% 0%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

#resultado{
    background-color: lch(0% 0 0);
}


