body{
    background-color: hsl(0, 0%, 18%);
    color: #ffffff;
    text-align: center;
    font-size: larger;
}

h2{
    font-size: xx-large;
}

output{
    color:  hwb(324 20% 78%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#resultado{
    background-color: hwb(0 37% 63%);
}

button{
    background-color: oklab(0% 0 0);
    color: #ffffff;
    padding: 6px;
    border: 1px, solid,#ffffff;
    font-size: large;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button:hover{
    background-color: #726e70 !important;
}
