body{
    background-color: hsl(295, 88%, 67%);
    color: hwb(0 100% 0%);
    text-align: center;
}

h1{
    border: 1px, solid, hsl(0, 0%, 0%);
}

output{
    color:  hwb(0 0% 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

#resultado{
    background-color: hsl(167, 84%, 83%);
}

button{
    background-color: oklab(0% 0 0);
    color: hwb(0 100% 0%);
    padding: 6px;
    border: 1px, solid,lch(53.74% 45.89 13.53);
    font-size: large;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: rgb(207, 75, 75);
}